<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.business.dao.UserMapper">
    <!-- 所有字段 -->
	<sql id="Base_User" >
    user_id,account_id,user_name,sex,user_img,open_id,phone,introduct,regiest_type,create_time,mac_id,last_login_time,fashion_id
  	</sql>
	<!--END -->

	<!-- 根据openId寻找user -->
	<select id="getUserByOpenId" parameterType="java.lang.String" resultType="com.business.entry.bean.User">
		select
		<include refid="Base_User" />
		from user where open_id =#{openId}
	</select>


</mapper>